body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url(../../assets/images/back.png);
  padding-bottom: 60px;
}

.footerMain {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  line-height: 90px;
  background-color: #505050;
  text-align: center;
  color: #bbbbbb;
  border-top: 8px solid #4aaaa5;
  font-size: 14px;
}

p{
  color: #777777;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
}

h3 {
  font-size: 20pt;
}

h4 {
  font-size: 20pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.noPadding {
  padding: 0px;
}

header{
  background-color: white;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #cccccc;
}

#mainContainer{
  margin: 50px auto;
  padding: 35px;
  border-style: solid;
  border-width: thin;
  border-color: #cccccc;
}

#containerTitle{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4aaaa5;
}

.hrFat{
  display: block;
  margin: 10px 0px 20px;
  border-width: 3px;
  color: #cccccc;
  background-color: #cccccc;
}

.socialIcon{
  width: 47px;
  margin: 0px 0px 0px 8px;
  top: -10px;
  right: 15px;
  position: relative; 
}

.btn-primary:hover, .btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  border-style: none;
  color: black;
  text-decoration: none;
  outline: none;
  box-shadow: none!important;
}

/* Navbar */
.navbarMenuDivider{
  border-right-color: #dddddd;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 0px;
  margin: 8px 0px;
}

.nav-item {
  font-size: 20px;
}

#navContainer{
  padding: 0px;
}

.navLogo{
  background-color: #4aaaa5;
  float: left;
  color: white !important;
  padding: 26px 37px 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* About Page */
.headshot{
  margin: 5px 15px 0px 0px;
}

.tinyFont{
  font-size: 10pt;
  line-height: 100%;
  margin-bottom: 5px;
  margin-top: 3px;
}

.photoCitation {
  color: black;
}

/* Porfolio Page */
.portfolioVertPadding {
  margin: 15px 0px;
}

.outer {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
}

.inner {
  position: absolute;
  bottom: 3%;
  width: 100%;
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  height: 30%;
}

.btnPortfolio {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20pt;
  padding: 0px;
  margin: auto;
  border-radius: 0;
  /* height: 100%; */
  position: absolute;
  top: 28%;
}

/* Contact Page */
.btnForm {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 0;
}

@media (max-width: 767.98px) { 
  h4 {
    font-size: 16pt;
  }

  p {
    font-size: 18pt;
  }

  .headshot {
    width: 320px;
    margin: 10px auto 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h4 {
    font-size:18pt;
  }

  p{
    font-size: 18pt;
  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: none;
  }
}